<!DOCTYPE html>
<html>
<head>
    <title>Serpientes y Escaleras</title>
</head>
<body>
    <h1>Serpientes y Escaleras</h1>
    <form method="POST">
        <p>Nombre Jugador 1: <input type="text" name="jugadores"></p>
        <p>Nombre Jugador 2: <input type="text" name="jugadores"></p>
        <p>Nombre Jugador 3: <input type="text" name="jugadores"></p>
        <p>Nombre Jugador 4: <input type="text" name="jugadores"></p>
        <button type="submit">Comenzar Juego</button>
    </form>
</body>
</html>
